<!doctype html><html lang="en"><head> <script> var CSRF_NAME= "CUSTOM_CSRF_TOKEN"; var CSRF_TOKEN= "11ef9fd3a42ffe46f57fc1ff882ea0c7"; </script> <meta http-equiv="content-type" content="text/html; charset=UTF-8" /><meta http-equiv="content-language" content="en-GB" /><meta name="theme-color" content="#7FB800" /><meta property="fb:pages" content="1453997771525853" /> <title>How Crowdfunding Platforms Work in India - Impact Guru</title><meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="p:domain_verify" content="5a6a17f6c1364a00a49c669da061fd31"/><script>
let BASE_URL = "https://www.impactguru.com/"; let ENVIRONMENT = "production";
let isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent); document.addEventListener("touchstart", function() {},false);</script>
<meta name="title" property="og:title" content="How Crowdfunding Platforms Work in India - Impact Guru" >
<meta name="description" content="Impact Guru - We help patients to raise funds for medical treatment and organ transplant. Quick Fundraising. Kidney Transplant Fundraising. Cancer Treatment Fundraising." >
<meta name="keywords" content="Crowdfunding india, crowdfunding in india, crowdfunding, crowdfunding website, crowdfund, crowdsourcing, impactguru, crowdsourcing platform, fundraising, Medical crowdfunding, Medical fundraising" >
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//d2aq6dqxahe4ka.cloudfront.net" />
<link rel="dns-prefetch" href="//www.googletagmanager.com"/>
<link rel="dns-prefetch" href="//cse.google.com"/>
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/global/dist/css/global.min.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/page/dist/css/hiwV3.min.css?nc=v173" media="screen" />
<link rel="shortcut icon" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/images/favicon.ico" />
<script> (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'}); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-W9XP5Z'); (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'}); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-WJTP95R');</script>  <script> let T_BASE_URL = 'https://www.impactguru.com/'; let q=window.location.search.trim();
if(q!==""){q= q.replace("?", "");
var x=new XMLHttpRequest();
x.open("POST", T_BASE_URL+'track-page', true);
x.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
x.setRequestHeader("X-Requested-With", "XMLHttpRequest");
x.send("url="+window.location.protocol+"//"+window.location.host+window.location.pathname+"&"+q);} </script></head><body><div class="loading-overlay"> <img src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/images/loading-ig.gif"></div>  <noscript> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9XP5Z" height="0" width="0" style="display:none;visibility:hidden"></iframe> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJTP95R" height="0" width="0" style="display:none;visibility:hidden"></iframe> </noscript>
<div>
    <header>
        <nav class="navbar navbar-expand-xl fixed-top opaque-navbar navbar-dark opaque " id="main-nav" data-type="">
            <div class="container">
                <a href="#" class="navbar-brand" title="home" id="header-go-home" style="color: #777; font-size: 30px;">
                    <div> INCREDIBLE WOMEN</div> </a>
                    <div class="d-flex align-items-center nav-menu-wrapper w-100">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon sr-only"></span>
                            <span ></span>
                            <span ></span>
                            <span ></span> </button>
                            <div class="navbar-collapse collapse" id="navbarsExample06">
                                <div class="form-group" id="search-con" >
                                    <div class="input-group">

                                        <div class="input-group-addon" style="margin-left: -30px; z-index: 3; border-radius: 40px; background-color: transparent; border:none;">

                                                </div> </div> </div>
                                                <ul class="navbar-nav justify-content-end">
                                                    <li class="nav-item"> <a class="nav-link" href="{% url 'donor_register'%}">Start a Fundraiser <span class="sr-only">(current)</span></a> </li>
                                                    <li class="nav-item"> <a class="nav-link" href="{% url 'work'%}">How it Works</a> </li>
                                                    <li class="nav-item"> <a class="nav-link" href="{% url 'fundraiser_register'%}">Browse Fundraisers</a> </li>
                                                    <li class="nav-item"> <a class="nav-link" href="{% url 'home'%}">Home</a> </li>
                                                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a> <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                        <a class="dropdown-item" href="{% url 'user_login'%}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Login</a> <a class="dropdown-item" href="{% url 'donor_register'%}"><i class="fas fa-user-plus" aria-hidden="true" id="header-signup"></i> Sign up</a> </div> </li> </ul> </div>
                                                         </div> </div></nav>
                                                            <div class="menu-overlay"></div></header>
                                                            <section class="hero-banner">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-lg-7 wave-background">
                                                                             <div class="h-100 d-flex align-items-center">

                                                                                </div>
                                                                            </div>








                                                                            <div class="col-sm-12 col-lg-5 mt-4 mt-lg-0" style="margin-left: 22rem;">
                                                                                <form action="{% url 'index' %}" method="GET" class="hiw-form h-100 py-4 px-4 px-md-5">
                                                                                    <h2 class="text-center font-weight-light"><span style="font-size:1.5em;"><i>HER</i>alding<br /></span>a new era</h2>
                                                                                    <h5 class="text-center font-weight-light">Start a fundraiser and talk to our <br /> experts to raise money now!</h5>
                                                                                    <div class="form-group material">
                                                                                        <a href="https://api.whatsapp.com/send?phone=917777089765&text=Hi%20Team%21%20Help%20me%20start%20my%20fundraiser." class="chatonwhatsapp-button">
                                                                                            <i class="fab fa-whatsapp"></i> Chat on whatsapp</a>
                                                                                            <h2 class="new-line visible-xs"><span class="new-line__background">or</span></h2> </div>
                                                                                            <div class="form-group material">
                                                                                                <input type="text" class="form-control" id="name" name="Name" placeholder="Full Name" required>
                                                                                            </div>
                                                                                            <div class="form-group material">  <input type="email" class="form-control" id="email" name="Email" placeholder="Email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,})$" title="Email should be of the form email@example.com"> </div>
                                                                                            <div class="form-group material">  <input type="number" class="form-control" id="phoneNumber" name="Phone_number" placeholder="Phone Number" required> </div>
                                                                                            <div class="form-group material">  <input type="text" class="form-control" id="city" name="City" placeholder="City" required > </div><button id="hiw-main-get-assistance" class="btn btn--primary btn-block sticky-threshold">get assistance</button>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                        </div>
                                                                        <section class="py-5"> <div class="container"> <h4 class="font-weight-light page-title-new">How Crowdfunding Works on Incredible Women</h4> <div class="crowdfunding-steps mt-4 mt-md-5"> <div class="step"> <div class="step__img"></div> <div class="step__details"> <h5 class="m-0">Step 1: Create your fundraiser instantly</h5> </div> </div> <div class="step"> <div class="step__img"></div> <div class="step__details"> <h5 class="m-0">Step 2: Share your fundraiser online</h5> </div> </div> <div class="step"> <div class="step__img"></div> <div class="step__details"> <h5 class="m-0">Step 3: Receive donations from around the world</h5> </div> </div> <div class="step"> <div class="step__img"></div> <div class="step__details"> <h5 class="m-0">Step 4: Transfer funds to the hospital directly</h5> </div> </div> </div> </div></section>

                                                                        <div>
                                                                            <footer class="footer" >
                                                                                    <section id="last-footer"  >
                                                                                            <div class="container " style="text-align: center">
                                                                                                <div class="footer-top" id="new-footer">
                                                                                                    <!-- <div class="row"> -->
                                                                                                        <!-- <div class="col col-md-3 col-xs-12  col-sm-4"> -->
                                                                                                            <div style="text-align:center;">
                                                                                                                <div id="subscriber_form_div">
                                                                                                                    <h4 class="newletter-title">Subscribe to our Newsletter</h4>
                                                                                                                    <div class="subcribe" style="width:500px;margin-left: 27%;">
                                                                                                                        <form class="newsletter-form">
                                                                                                                            <input type="text" id="email_s" name="email" placeholder="Enter email address here" class="form-control" />
                                                                                                                            <div class="send" id="footer-newsletter-subscribe"><i class="fa fa-paper-plane" aria-hidden="true" type="submit" id="subscribe_submit" ></i></div>
                                                                                                                            <small style="color:red;" id="subscribe_error" class="help-block" ></small>
                                                                                                                        </form>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <h4>Connect with us</h4>
                                                                                                                <ul class="footer-nav">
                                                                                                                    <li><b>General Enquiry :</b></li>
                                                                                                                    <li class="hidden-xs"><b>Phone : </b>9619045206</li>
                                                                                                                    <li class="visible-xs"><b>Phone : </b><a href="javascript:void(0)" onclick="window.location = 'tel:+919619045206'" style="color: #fff;">08030187007</a></li>
                                                                                                                    <li><b>Email : </b><a href="mailto:pshah3103@gmail.com">pshah3103@gamil.com</a></li>
                                                                                                                    <li></li>
                                                                                    <!--
                                                                                                                    <li><b>Fund Settlement :</b></li>
                                                                                                                    <li class="hidden-xs"><b>Phone : </b>+91 - 8655066210 , 022-49717414</li>
                                                                                                                    <li class="visible-xs"><b>Phone : </b><a href="javascript:void(0)" onclick="window.location = 'tel:+918655066210'" style="color: #fff;">+91 - 8655066210</a> ,
                                                                                                                    <a href="javascript:void(0)" onclick="window.location = 'tel:02249717414'" style="color: #fff;">022-49717414</a></li>
                                                                                    -->
                                                                                                                </ul>
                                                                                                                <!-- <ul class="social-icons">
                                                                                                                    <li>
                                                                                                                        <a href="https://www.facebook.com/ImpactGuru" target="_blank" title="Follow us on Facebook" class="facebook" id="footer-follow-us-on-facebook">
                                                                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                                                                        </a>
                                                                                                                    </li>
                                                                                                                    <li>
                                                                                                                        <a href="https://twitter.com/ImpactGuru" title="Follow us on Twitter" target="_blank" class="twitter" id="footer-follow-us-on-twitter">
                                                                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                        
                                                                                                                        </a>
                                                                                                                    </li>
                                                                                                                    <li>
                                                                                                                        <a href="https://www.linkedin.com/company/impact-guru" title="Follow us on Linkedin" target="_blank" class="linkedin" id="footer-follow-us-on-linkedin">
                                                                                                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                                                                                        </a>
                                                                                                                    </li>
                                                                                                                    <li> <a href="https://www.youtube.com/channel/UC7Wk6CyitaJshN8V1KNNs8A" title="Youtube" target="_blank" class="youtube" id="footer-youtube">
                                                                                                                            <i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                                                                                                     <li>
                                                                                                                    <a href="https://www.impactguru.com/whatsapp" target="_blank" title="WhatsApp" class="whats">
                                                                                                                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                                        
                                                                                                                    </a>
                                                                                                                </li>
                                                                                                                </ul> -->
                                                                                                            </div>
                                                                                                            </div>
                                                                                                            </div>
                                                                        
                                                                                                    </section>
                                                                            </footer>
                                                                        </div>
                                                                        </body>
                                                                        </html>
