<!doctype html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-GB" xml:lang="en-GB" class="header-scroller ">
    <head>
            <meta name='viewport' content='width=device-width, initial-scale=1'>
            <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        </head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="en-GB" />
        <meta property="fb:pages" content="1453997771525853" />
                        <link rel="canonical" href="https://www.impactguru.com/users/sign-in" />
                    <title>Account Verification Failed</title>
                    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/0551BC03-ABDA-454A-BC73-D23FC403765D/main.js" charset="UTF-8"></script><script>
            let T_BASE_URL = 'https://www.impactguru.com/';
            let q=window.location.search.trim();
if(q!==""){q= q.replace("?", "");
var x=new XMLHttpRequest();
x.open("POST", T_BASE_URL+'track-page', true);
x.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
x.setRequestHeader("X-Requested-With", "XMLHttpRequest");
x.send("url="+window.location.protocol+"//"+window.location.host+window.location.pathname+"&"+q);}
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
            <meta name="p:domain_verify" content="5a6a17f6c1364a00a49c669da061fd31"/>
            <meta name="title" content="Sign In - Impactguru" /><meta name="description" content="Signin to join India's best crowdfunding platform today and create or donate to cause that you support." /><meta name="keywords" content=" Crowdfunding India, Crowdfunding, Crowdfunding Website, Impact Guru, Crowdfunding Platforms in India" />            <link rel="shortcut icon" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/images/favicon.ico" />
            <!-- Start CSS -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700,900,400" />
                    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" />
                    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"/><link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/reset.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/font-awesome.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/bootstrap.min.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/bootstrap-theme.min.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/owl.carousel.min.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/easy-responsive-tabs.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/jquery.mThumbnailScroller.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/style.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/media.css?nc=v173" media="screen" />
<link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/custom.css?nc=v173" media="screen" />
<script>
                        var loadDeferredStyles = function() {var addStylesNode = document.getElementById("deferred-styles");if(addStylesNode != null){var replacement = document.createElement("div");replacement.innerHTML = addStylesNode.textContent;document.body.appendChild(replacement);addStylesNode.parentElement.removeChild(addStylesNode);}};var raf = requestAnimationFrame || mozRequestAnimationFrame ||webkitRequestAnimationFrame || msRequestAnimationFrame;if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });else window.addEventListener('load', loadDeferredStyles);
                      </script>            <script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/jquery.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/app.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/jquery-ui.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/fastclick.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/bootstrap.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/modernizr.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/respond.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/owl.carousel.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/dropkick.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/imagesloaded.pkgd.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/jquery-imagefill.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/jquery.placeholder.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/masonry.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/icheck.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/bootstrapValidator.min.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/jquery.blockUI.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/jquery.mThumbnailScroller.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/general.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/custom.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/ajaxfileupload.js?nc=v173" charset="UTF-8"></script>
<script type="text/javascript" src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/js/easyResponsiveTabs.js?nc=v173" charset="UTF-8"></script>
            <!-- End CSS -->
            <!-- Start Script -->
            <script defer="defer" type="text/javascript">
                var BASE_URL = 'https://www.impactguru.com/'; var track_click = 1; var ck_editor_file_path = 'https://www.impactguru.com/'; CKEDITOR_PATH_OBJ = {filebrowserBrowseUrl: ck_editor_file_path + 'browse.php?type=files', filebrowserImageBrowseUrl: ck_editor_file_path + 'browse.php?type=images', filebrowserFlashBrowseUrl: ck_editor_file_path + 'browse.php?type=flash', filebrowserUploadUrl: ck_editor_file_path + 'upload.php?type=files', filebrowserImageUploadUrl: ck_editor_file_path + 'upload.php?type=images', filebrowserFlashUploadUrl: ck_editor_file_path + 'upload.php?type=flash', removePlugins: 'sourcearea,link,youtube'}; var currencyIds = {INR: '1', USD: '2'};
            </script>
                        <!-- Google Tag Manager -->
            <script defer="defer">(function(w, d, s, l, i){w[l] = w[l] || []; w[l].push({'gtm.start':
                        new Date().getTime(), event:'gtm.js'}); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer'?'&l=' + l:''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-W9XP5Z');</script>
            <!-- End Google Tag Manager -->
            <!--<script src="https://clientcdn.pushengage.com/core/16707.js"></script>-->

            <!-- BY RG as on 30/12/2017 Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WJTP95R');</script>
            <!-- End Google Tag Manager -->
     <style>
         .paper{
            width: 650px;
            height: 300px;
            margin-left: 29%;
            box-shadow: 4px 4px 16px #d6d6d6;
            border-radius: 7px;
            background-color:white;
            color:black;
            font-size:20px;
        }
     .f{
         font-weight: bold;
         color:#7fb800;
         font-size: 16px;
         text-align: center;
         margin-top:150px;
              }
    .f1{
        font-weight: bold;
         color:black;
         font-size: 12px;
         text-align: center;
    }
    body {
        background: url({% static 'media/wave-background.jpg'%});
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
     </style>
    </head>
        <body>
                <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9XP5Z"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- BY RG as on Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJTP95R" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->


                <!-- Start Header -->
                <header class="head-section wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;" id="new-header">

                    <nav class=" navbar navbar-default navbar-fixed-top  opaque-navbar nav-scrolled">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button class="navbar-toggle collapsed off-canvas-toggle navbar-toggle collapsed disparador" data-target="#slide-navbar-collapse" aria-expanded="false" data-toggle="slide-collapse" type="button" data-label-expanded="Close" >
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="https://www.impactguru.com/" class="navbar-brand" title="Impact Guru" id="header-go-home">
                                   <div>
                                        INCREDIBLE WOMEN

                                   </div>
                                   </a>
                            </div>
                            <div class="collapse navbar-collapse" id="slide-navbar-collapse">
                                <ul class="nav navbar-nav navbar-right off-canvas-menu">
                                    <li class="off-canvas-menu-item"><a href="{% url 'donor_register'%}" id="header-start-fundraiser">Start a Fundraiser</a>
                                    <li class="off-canvas-menu-item"> <a href="{% url 'work'%}" id="header-hiw">How it works</a></li>
                                    <li class="off-canvas-menu-item"> <a href="{% url 'fundraiser_register'%}" id="header-browse-fundraiser">Browse Fundraisers</a> </li>
                                    <li class="off-canvas-menu-item"> <a href="{% url 'home'%}">Home</a> </li>
                                    <li class="dropdown hidden-xs">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                        <ul  class="dropdown-menu" id="currency-drop-d">
                                                                                            <li><a id="login_btn" href="{% url 'user_login'%}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                                                <li><a href="{% url 'donor_register'%}"><i class="fa fa-user-plus" aria-hidden="true" id="header-signup"></i> Sign up</a></li>
                                                                                    </ul>
                                    </li>
                                                                            <li class="hidden-md hidden-lg hidden-sm visible-xs"> <a id="login_btn" href="login.html">Login</a> </li>
                                        <li class="hidden-md  hidden-lg hidden-sm visible-xs"> <a id="header-signup" href="{% url 'donor_register'%}">Sign up</a> </li>
                                                                                                                </li></ul>
                              </div>

                        </div>

                    </nav>
                </header>

                <div class="paper">
                    <div class="f">
                            <i class="glyphicon glyphicon-remove" style='font-size:56px;color:red;margin-top:20px;'></i>
                            <h1> Verification Failed !</h1>
                    </div>
                <div class="f1">
                     <i style="font-size:36px;color:black; margin-right:550px;margin-top:20px;"></i>  <h3 style="margin-top:-37px;"> Activation link is invalid.</h3>

                    <!-- </br></br> <p style="text-align: initial;padding-left: 10px;"> Amount received by :</p></br></br>
                    <p style="text-align: initial;padding-left: 10px;">Total amount received :</p> -->
                </div>
            </div>
        </body>
        </html>
