<!doctype html><html lang="en"><head> <script> var CSRF_NAME= "CUSTOM_CSRF_TOKEN"; var CSRF_TOKEN= "11ef9fd3a42ffe46f57fc1ff882ea0c7"; </script> <meta http-equiv="content-type" content="text/html; charset=UTF-8" /><meta http-equiv="content-language" content="en-GB" /><meta name="theme-color" content="#7FB800" /><meta property="fb:pages" content="1453997771525853" /> <title>How Crowdfunding Platforms Work in India - Impact Guru</title><meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="p:domain_verify" content="5a6a17f6c1364a00a49c669da061fd31"/><script>
    let BASE_URL = "https://www.impactguru.com/"; let ENVIRONMENT = "production";
    let isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent); document.addEventListener("touchstart", function() {},false);</script>
    <meta name="title" property="og:title" content="How Crowdfunding Platforms Work in India - Impact Guru" >
    <meta name="description" content="Impact Guru - We help patients to raise funds for medical treatment and organ transplant. Quick Fundraising. Kidney Transplant Fundraising. Cancer Treatment Fundraising." >
    <meta name="keywords" content="Crowdfunding india, crowdfunding in india, crowdfunding, crowdfunding website, crowdfund, crowdsourcing, impactguru, crowdsourcing platform, fundraising, Medical crowdfunding, Medical fundraising" >
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//d2aq6dqxahe4ka.cloudfront.net" />
    <link rel="dns-prefetch" href="//www.googletagmanager.com"/>
    <link rel="dns-prefetch" href="//cse.google.com"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/css/font-awesome.css?nc=v173" media="screen" />
    <link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/global/dist/css/global.min.css?nc=v173" media="screen" />
    <link type="text/css" rel="stylesheet" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/page/dist/css/hiwV3.min.css?nc=v173" media="screen" />
    <link rel="shortcut icon" href="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/images/favicon.ico" />


    <script> (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'}); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-W9XP5Z'); (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'}); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-WJTP95R');</script>  <script> let T_BASE_URL = 'https://www.impactguru.com/'; let q=window.location.search.trim();
    if(q!==""){q= q.replace("?", "");
    var x=new XMLHttpRequest();
    x.open("POST", T_BASE_URL+'track-page', true);
    x.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    x.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    x.send("url="+window.location.protocol+"//"+window.location.host+window.location.pathname+"&"+q);} </script></head><body><div class="loading-overlay"> <img src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/images/loading-ig.gif"></div>  <noscript> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9XP5Z" height="0" width="0" style="display:none;visibility:hidden"></iframe> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJTP95R" height="0" width="0" style="display:none;visibility:hidden"></iframe> </noscript>
    <div>

<header>
    <nav class="navbar navbar-expand-xl fixed-top opaque-navbar navbar-dark opaque " id="main-nav" data-type="">
        <div class="container">
            <a href="#" class="navbar-brand" title="home" id="header-go-home" style="color: #777; font-size: 30px;">
                <div> INCREDIBLE WOMEN</div> </a>
                <div class="d-flex align-items-center nav-menu-wrapper w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon sr-only"></span>
                        <span ></span>
                        <span ></span>
                        <span ></span> </button>
                        <div class="navbar-collapse collapse" id="navbarsExample06">
                            <div class="form-group" id="search-con" >
                                <div class="input-group">

                                    <div class="input-group-addon" style="margin-left: -30px; z-index: 3; border-radius: 40px; background-color: transparent; border:none;">

                                            </div> </div> </div>
                                            <ul class="navbar-nav justify-content-end">
                                                <li class="nav-item"> <a class="nav-link" href="signup.html">Start a Fundraiser <span class="sr-only">(current)</span></a> </li>
                                                <li class="nav-item"> <a class="nav-link" href="howitworks.html">How it Works</a> </li>
                                                <li class="nav-item"> <a class="nav-link" href="browsing_fundraisers.html">Browse Fundraisers</a> </li>
                                                <li class="nav-item"> <a class="nav-link" href="home.html">Home</a> </li>
                                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a> <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                    <a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Login</a> <a class="dropdown-item" href="signup.html"><i class="fas fa-user-plus" aria-hidden="true" id="header-signup"></i> Sign up</a> </div> </li> </ul> </div>
                                                     </div> </div></nav>
                                                        <div class="menu-overlay"></div></header>
                                                        </div>
                                                        <table class="table table-bordered" style="margin-top:130px;width:50%;margin-left: 25%" >
                                                            <thead style="background-color: #7fb800">
                                                              <tr>
                                                                <th>Organisation Name</th>
                                                                <th>Bank Name</th>
                                                                <th>Bank Account</th>
                                                                <th>Chat Room</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>

                                                              <tr>
                                                                <td>Shah Industries</td>
                                                                <td>Bank Of India</td>
                                                                <td> 12100014102300015</td>
                                                                <td>Shah_Industries</td>
                                                              </tr>

                                                              <tr>
                                                                <td>Rakesh Ltd</td>
                                                                <td>Bank Of Baroda</td>
                                                                <td>001210015177600018</td>
                                                                <td>Rakesh_Ltd</td>
                                                              </tr>

                                                              <tr>
                                                                <td>Arkansas Ltd</td>
                                                                <td>State Bank Of India</td>
                                                                <td>00131001716200172</td>
                                                                <td>Arkansas_Ltd</td>
                                                              </tr>

                                                            </tbody>
                                                          </table><br /><br />
                                                          <div style="margin-left:40%;">What chat room would you like to enter?</div><br/>
                                                            <input id="room-name-input" type="text" size="100" style="width:500px;margin-left:33%;"/><br /><br />
                                                            <input id="room-name-submit"  class="btn-r" type="button" value="Enter"  style="margin-left:46%;background-color:#7fb800;width:100px;"/>

                                                            <script>
                                                                document.querySelector('#room-name-input').focus();
                                                                document.querySelector('#room-name-input').onkeyup = function(e) {
                                                                    if (e.keyCode === 13) {  // enter, return
                                                                        document.querySelector('#room-name-submit').click();
                                                                    }
                                                                };

                                                                document.querySelector('#room-name-submit').onclick = function(e) {
                                                                    var roomName = document.querySelector('#room-name-input').value;
                                                                    window.location.pathname = '/chat/' + roomName + '/';
                                                                };
                                                            </script>
</body>
</html>
